.category-card-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.category-card-wrapper:hover {
  background-color: cornsilk;
}

.menu-container {
  position: absolute;
  top: 5px;
  right: 10px;
}

.menu-container > button {
  background-color: white;
  border-radius: 10px;
  width: 50px;
  height: 30px;
  font-size: 20px;
  font-weight: 900;
}

.menu-container ul {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px;
  margin: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.category-button {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.category-button > p {
  font-size: 1.5em;
  font-weight: bold;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 2 / 4 / 4;
}
.div3 {
  grid-area: 4 / 1 / 5 / 5;
}
