.sidebar-container {
  width: 250px;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
  padding: 36px 0 78px 28px;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}

.logo-wrap {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar-nav-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  width: 100%;
}

.sidebar-nav-list {
  width: 100%;
}

.sidebar-menu-list {
  width: 100%;
}

.sidebar-span-title {
  font-size: 12px;
  color: darkgrey;
}

.activeItem {
  display: block;
  width: 100%;
  color: #007bff;
  border-right: 2px solid #007bff;
}

.inactiveLink {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.activeLink {
  display: block;
  padding: 10px;
  color: #007bff;
  font-weight: bold;
}

.del-padding-left {
  padding-left: 0;
}
