.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
}

.stat-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1rem;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.stat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.stat-percentage {
  font-weight: bold;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.icon {
  text-align: center;
  width: 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: aqua;
}
